{% assign posts = site.posts | where: "lang", page.lang %}



<div class="section bg-light px-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="max-w-40 mb-4">News</h2>
      </div>
    </div>
    <div class="row">
      {% for post in posts limit:3 %}
      <div class="col-12 col-lg-4">
        {% include card/post.html %}
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="text-center w-100 mt-3 mx-2">
        <a class="btn btn-primary" href="{{ site.baseurl }}/">
          Vedi tutte le news
        </a>
      </div>
    </div>
  </div>
</div>
