{% assign proponenti =  site.data.iniziative | map: 'Proponente' | join: ',' | join: ',' | split: ',' | uniq | sort %}
{% assign destinatari =  site.data.iniziative | map: 'Destinatari' | join: ',' | join: ',' | split: ',' | uniq | sort %}
{% assign attivita =  site.data.iniziative | map: 'Attività' | join: ',' | join: ',' | split: ',' | uniq | sort %}
{% assign scale =  site.data.iniziative | map: 'Scala' | join: ',' | join: ',' | split: ',' | uniq | sort %}


<div class="row">
    <div class="col-12">
        <h3>Lorem Ipsum...</h3>
        <div class="collapse show col-12" role="tabpanel">
            <div class="filters-group">
                <ul class="filter-options">
                    <li>
                        <div class="collapse-header" id="heading-proponente">
                            <button data-toggle="collapse" data-target="#collapse-proponente" aria-expanded="false" aria-controls="collapse-proponente">
                                Proponente
                            </button>
                        </div>
                        <div id="collapse-proponente" class="collapse filter-options-list" role="tabpanel" aria-labelledby="heading-proponente">
                            <div class="collapse-body filterButtonContainer">
                                {% for proponente in proponenti %}
                                {% if proponente != null and proponente != "" %}
                                <button class="btn btn-sm btn-primary mr-2 mb-2" data-group="{{ proponente }}">{{ proponente }}</button>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapse-header" id="heading-destinatario">
                            <button data-toggle="collapse" data-target="#collapse-destinatario" aria-expanded="false"  aria-controls="collapse-destinatario">
                                Destinatari
                            </button>
                        </div>
                        <div id="collapse-destinatario" class="collapse filter-options-list" role="tabpanel" aria-labelledby="heading-destinatario">
                            <div class="collapse-body filterButtonContainer">
                                {% for destinatario in destinatari %}
                                {% if destinatario != null and destinatario != "" %}
                                <button class="btn btn-sm btn-primary mr-2 mb-2" data-group="{{ destinatario }}">{{ destinatario }}</button>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapse-header" id="heading-activity">
                            <button data-toggle="collapse" data-target="#collapse-activity" aria-expanded="false" aria-controls="collapse-activity">
                                Attività
                            </button>
                        </div>
                        <div id="collapse-activity" class="collapse filter-options-list" role="tabpanel" aria-labelledby="heading-activity">
                            <div class="collapse-body filterButtonContainer">
                                {% for activity in attivita %}
                                {% if activity != null and activity != "" %}
                                <button class="btn btn-sm btn-primary mr-2 mb-2" data-group="{{ activity }}">{{ activity }}</button>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapse-header" id="heading-scala">
                            <button data-toggle="collapse" data-target="#collapse-scala" aria-expanded="false" aria-controls="collapse-scala">
                                Scala
                            </button>
                        </div>
                        <div id="collapse-scala" class="collapse filter-options-list" role="tabpanel" aria-labelledby="heading-scala">
                            <div class="collapse-body filterButtonContainer">
                                {% for scala in scale %}
                                {% if scala != null and scala != "" %}
                                <button class="btn btn-sm btn-primary mr-2 mb-2" data-group="{{ scala }}">{{ scala }}</button>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
