<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-lg-block navbar-brand" href="https://innovazione.gov.it/">
            <img class="slim-icon mr-2" src="{{ site.baseurl }}/assets/images/logo-repubblica-italiana.svg" alt="Repubblica Italiana logo">
            <img class="slim-icon mr-2" src="{{ site.baseurl }}/assets/images/logo-mid-white.svg" alt="MID logo">
            <b class="d-none d-md-inline">Ministero per l'innovazione tecnologica e la digitalizzazione</b>
          </a>
          <div class="header-slim-right-zone">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
