<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-lg-block navbar-brand text-decoration-none" href="https://innovazione.gov.it/" target="_blank" rel="noopener noreferrer">
            <img class="slim-icon mr-2" src="{{ site.baseurl }}/assets/images/logo-repubblica-italiana.svg" alt="{{ site.data.t.icon-repubblica-alt[page.lang] }}">
            <img class="slim-icon mr-2" src="{{ site.baseurl }}/assets/images/logo-mid-white.svg" alt="{{ site.data.t.icon-mid-alt[page.lang] }}">
            <b class="d-none d-md-inline">{{ site.data.t.author[page.lang] }}</b>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
