<section id="section-banner" class="mt-5 mb-5">
  <div class="container">
    <div class="row col-8 mx-auto">
      <h2 class="text-primary">In evidenza</h2>
      <div class="card-wrapper card-space">
        <div class="card card-iniziative my-2 no-after shadow rounded">
          <div class="card-body d-flex">
            <div class="col-12 col-lg-8">
              <img
                width="220"
                src="{{ site.baseurl }}/assets/images/banner_digitale_semplice.png"
                alt="Logo Il Digitale è Semplice"
                class="w-100 d-lg-none d-md-block"
              />
              <h5 class="card-title mt-4 mb-4">
                Premio nazionale per le competenze digitali
              </h5>
              <p class="card-text mt-4">
                Quattro le categorie in concorso: Digitale per tutti, Digitale
                inclusivo, Digitale contro il divario di genere, Digitale
                nell’educazione per le scuole. Presenta la tua candidatura dal
                15 novembre al 17 gennaio 2022
              </p>
            </div>
            <div class="col-lg-4 text-right d-none d-lg-block">
              <img
                width="220"
                src="{{ site.baseurl }}/assets/images/banner_digitale_semplice.png"
                alt="Logo Il Digitale è Semplice"
                class="img-fluid mb-2"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-3 mb-5">
        <a
          href="{{ site.baseurl }}/aperte-candidature-premio-nazionale-competenze-digitali/"
          class="btn btn-primary"
          >Leggi di più</a
        >
      </div>
    </div>
  </div>
</section>
