<section id="section-banner" class="mt-5 mb-5">
  <div class="container">
    <div class="row col-8 mx-auto">
      <h2 class="text-primary">È online il nuovo sito!</h2>
      <div class="card-wrapper card-space">
        <div class="card card-iniziative my-2 no-after shadow rounded">
          <div class="card-body d-flex">
            <div class="col-12 col-lg-8">
              <img
                width="220"
                src="{{ site.baseurl }}/assets/images/banner_digitale_semplice.png"
                alt="Logo Il Digitale è Semplice"
                class="w-100 d-lg-none d-md-block"
              />
              <p class="card-text mt-4">
                Repubblica Digitale rinnova la sua veste grafica e si arricchisce di contenuti. Visita il nuovo sito
                <a href="https://repubblicadigitale.gov.it/"
                  >repubblicadigitale.gov.it</a
                > metti alla prova le tue competenze, scopri le iniziative, partecipa agli eventi e trova il <b>punto di facilitazione digitale</b> più vicino a te. 
              </p>
              <a
                href="https://repubblicadigitale.gov.it/"
                class="btn btn-primary"
                >Vai al nuovo sito</a
              >
            </div>
            <div class="col-lg-4 text-right d-none d-lg-block">
              <img
                width="220"
                src="{{ site.baseurl }}/assets/images/newsite_2022.png"
                alt="Online nuovo sito Repubblica Digitale"
                class="img-fluid mb-2"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
