<section id="section-banner" class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a
          href="https://partecipa.gov.it/processes/premiocompetenzedigitali"
          target="_blank"
          title="Primo premio nazionale comptenze digitali"
        >
          <img
            src="{{ site.baseurl }}/assets/images/FZ_contest_ BANNER-1.jpg"
            alt="Primo premio nazionale comptenze digitali"
            class="mw-100"
          />
        </a>
      </div>
    </div>
  </div>
</section>
