{% assign progetti = site.data.iniziative   %}

{% assign cittadini = site.data.iniziative | where: "L_Destinatari", "Cittadini"   %}
{% assign privato = site.data.iniziative | where: "L_Destinatari", "Settore Privato"   %}
{% assign pubblico = site.data.iniziative | where: "L_Destinatari", "Settore Pubblico"   %}
{% assign totaldest =  cittadini.size  | plus: privato.size | plus: pubblico.size    %}

{% assign cittadini_perc = cittadini.size | times: 100.0 | divided_by: totaldest  | round: 1   %}
{% assign privato_perc = privato.size | times: 100.0 | divided_by: totaldest  | round: 1   %}
{% assign pubblico_perc = pubblico.size | times: 100.0 | divided_by: totaldest  | round: 1   %}

{% assign locale = site.data.iniziative | where: "L_Tipologia_Scala", "Locale"   %}
{% assign regionale = site.data.iniziative | where: "L_Tipologia_Scala", "Regionale"  %}
{% assign nazionale = site.data.iniziative | where: "L_Tipologia_Scala", "Nazionale"  %}
{% assign totalgeo =  locale.size  | plus: regionale.size | plus: nazionale.size    %}

{% assign locale_perc = locale.size | times: 100.0 | divided_by: totalgeo  | round: 1   %}
{% assign nazionale_perc = nazionale.size | times: 100.0 | divided_by: totalgeo  | round: 1   %}
{% assign regionale_perc = regionale.size | times: 100.0 | divided_by: totalgeo  | round: 1   %}

<section id="section-news" class="section bg-light pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 mb-5">
        <h3 class="text-center num-progetti text-primary my-5" >
          <span class="count-progetti text-primary">{{ progetti.size }}</span><br>progetti
        </h3>

        <div class="row d-none d-md-block">
          <div class="col-12 my-3 text-center">
            <a href="{{ site.baseurl }}/it/i-dati/" class="btn btn-primary"> Vedi tutti i dati</a>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-4 mb-5">
        <h5 class="text-center text-primary mb-3 font-weight-bold">Destinatari</h5>
        <div class="chart-destinatari ct-chart ct-perfect-fifth"></div>
        <div class="chart-data text-primary mt-3 pl-4">
          <ul>
            <li class="cittadini"><strong>Cittadini</strong>: {{ cittadini.size }} progetti <span class="small ">({{ cittadini_perc }}%)</span></li>
            <li class="privato"><strong>Settore Privato</strong>: {{ privato.size }} progetti <span class="small ">({{ privato_perc }}%)</span></li>
            <li class="pubblico"><strong>Settore Pubblico</strong>: {{ pubblico.size }} progetti <span class="small ">({{ pubblico_perc }}%)</span></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <h5 class="text-center text-primary mb-3 font-weight-bold">Distribuzione geografica</h5>
        <div class="chart-activity ct-chart ct-perfect-fifth"></div>
        <div class="chart-data text-primary mt-3 pl-4">
          <ul>
            <li class="cittadini"><strong>Locale</strong>: {{ locale.size }} progetti <span class="small "> ({{ locale_perc }}%)</span></li>
            <li class="privato"><strong>Regionale</strong>: {{ regionale.size }} progetti <span class="small ">({{ regionale_perc }}%)</span></li>
            <li class="pubblico"><strong>Nazionale</strong>: {{ nazionale.size }} progetti <span class="small ">({{ nazionale_perc }}%)</span></li>
          </ul>
        </div>


        <div class="row d-block d-md-none mt-5">
          <div class="col-12 my-3 text-center">
            <a href="{{ site.baseurl }}/it/i-dati/" class="btn btn-primary"> Vedi tutti i dati</a>
          </div>
        </div>

      </div>
    </div>


  </div>

</section>


<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {

    var sum = function(a, b) { return a + b };
    var data_dest = {
      labels: ['{{ cittadini_perc }}%', '{{ privato_perc }}%', '{{ pubblico_perc }}%'],
      series: [{{ cittadini.size }}, {{ privato.size }}, {{ pubblico.size }}]
    };
    var data_geo = {
      labels: ['{{ locale_perc }}%', '{{ regionale_perc }}%', '{{ nazionale_perc }}%'],
      series: [{{ locale.size }}, {{ regionale.size }}, {{ nazionale.size }}]
    };
    var options = {
      donut: true,
      donutWidth: 80
    };

    var chart_destinatari = new Chartist.Pie('.chart-destinatari', data_dest ,options);

    chart_destinatari.on('draw', function(data) {
      if(data.type === 'slice') {
        // Get the total path length in order to use for dash array animation
        var pathLength = data.element._node.getTotalLength();

        // Set a dasharray that matches the path length as prerequisite to animate dashoffset
        data.element.attr({
          'stroke-dasharray': pathLength + 'px ' + pathLength + 'px'
        });

        // Create animation definition while also assigning an ID to the animation for later sync usage
        var animationDefinition = {
          'stroke-dashoffset': {
            id: 'anim' + data.index,
            dur: 1000,
            from: -pathLength + 'px',
            to:  '0px',
            easing: Chartist.Svg.Easing.easeOutQuint,
            // We need to use `fill: 'freeze'` otherwise our animation will fall back to initial (not visible)
            fill: 'freeze'
          }
        };

        // If this was not the first slice, we need to time the animation so that it uses the end sync event of the previous animation
        if(data.index !== 0) {
          animationDefinition['stroke-dashoffset'].begin = 'anim' + (data.index - 1) + '.end';
        }

        // We need to set an initial value before the animation starts as we are not in guided mode which would do that for us
        data.element.attr({
          'stroke-dashoffset': -pathLength + 'px'
        });

        // We can't use guided mode as the animations need to rely on setting begin manually
        // See http://gionkunz.github.io/chartist-js/api-documentation.html#chartistsvg-function-animate
        data.element.animate(animationDefinition, false);
      }
    });

    var chart_activity = new Chartist.Pie('.chart-activity', data_geo, options);

    chart_activity.on('draw', function(data) {
      if(data.type === 'slice') {
        // Get the total path length in order to use for dash array animation
        var pathLength = data.element._node.getTotalLength();

        // Set a dasharray that matches the path length as prerequisite to animate dashoffset
        data.element.attr({
          'stroke-dasharray': pathLength + 'px ' + pathLength + 'px'
        });

        // Create animation definition while also assigning an ID to the animation for later sync usage
        var animationDefinition = {
          'stroke-dashoffset': {
            id: 'anim' + data.index,
            dur: 1000,
            from: -pathLength + 'px',
            to:  '0px',
            easing: Chartist.Svg.Easing.easeOutQuint,
            // We need to use `fill: 'freeze'` otherwise our animation will fall back to initial (not visible)
            fill: 'freeze'
          }
        };

        // If this was not the first slice, we need to time the animation so that it uses the end sync event of the previous animation
        if(data.index !== 0) {
          animationDefinition['stroke-dashoffset'].begin = 'anim' + (data.index - 1) + '.end';
        }

        // We need to set an initial value before the animation starts as we are not in guided mode which would do that for us
        data.element.attr({
          'stroke-dashoffset': -pathLength + 'px'
        });

        // We can't use guided mode as the animations need to rely on setting begin manually
        // See http://gionkunz.github.io/chartist-js/api-documentation.html#chartistsvg-function-animate
        data.element.animate(animationDefinition, false);
      }
    });


  });


</script>
