{% assign posts = site.categories.documento | where: "lang", page.lang %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="my-5" id="documenti">Documenti</h3>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-12">
        <h4 class="my-3" id="link-esterni">
          Strategia Nazionale per le competenze digitali
        </h4>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-wrapper card-space">
        <a
          href="{{ site.baseurl }}/assets/docs/DTD-1277-A-ALL1.pdf"
          class="btn btn-icon btn-primary"
          download
        >
          Decreto della Strategia Nazionale
          <svg class="icon icon-sm icon-white ml-2">
            <use
              xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"
            ></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-wrapper card-space">
        <a
          href="{{ site.baseurl }}/assets/docs/national-strategy-for-digital-skills.pdf"
          class="btn btn-icon btn-primary"
          download
        >
          National Strategy for Digital Skills
          <svg class="icon icon-sm icon-white ml-2">
            <use
              xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"
            ></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="link-list-wrapper">
      <ul class="link-list">
        <li>
          <a
            class="list-item icon-left"
            href="https://docs.italia.it/italia/mid/strategia-nazionale-competenze-digitali-docs/it/1.0/index.html"
            target="_blank"
          >
            <svg class="icon icon-primary">
              <use
                xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-chevron-right"
              ></use>
            </svg>
            <span>Link alla Strategia Nazionale su Docs Italia</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4 class="my-3" id="documenti">
        Piano Operativo - Strategia Nazionale per le competenze digitali
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card-wrapper card-space">
        <a
          href="{{ site.baseurl }}/assets/docs/Piano-Operativo-Strategia-Nazionale-per-le-competenze-digitali.pdf"
          class="btn btn-icon btn-primary"
          download
        >
          Piano Operativo
          <svg class="icon icon-sm icon-white ml-2">
            <use
              xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"
            ></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-wrapper card-space">
        <a
          href="{{ site.baseurl }}/assets/docs/Piano-Operativo-Executive-Summary.pdf"
          class="btn btn-icon btn-primary"
          download
        >
          Sintesi del Piano
          <svg class="icon icon-sm icon-white ml-2">
            <use
              xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"
            ></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-wrapper card-space">
        <a
          href="{{ site.baseurl }}/assets/docs/Piano-Operativo-Infografica.pdf"
          class="btn btn-icon btn-primary"
          download
        >
          Infografiche del Piano
          <svg class="icon icon-sm icon-white ml-2">
            <use
              xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"
            ></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12">
      <h5 class="my-3" id="documenti">Appendici al Piano Operativo</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card-wrapper card-space">
        <a
          href="{{ site.baseurl }}/assets/docs/Appendice1-Istruzione-e-Formazione-superiore.pdf"
          class="btn btn-icon btn-primary"
          download
        >
          Istruzione e Formazione superiore
          <svg class="icon icon-sm icon-white ml-2">
            <use
              xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"
            ></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-wrapper card-space">
        <a
          href="{{ site.baseurl }}/assets/docs/Appendice2-Forza-lavoro-attiva.pdf"
          class="btn btn-icon btn-primary"
          download
        >
          Forza lavoro attiva
          <svg class="icon icon-sm icon-white ml-2">
            <use
              xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"
            ></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-wrapper card-space">
        <a
          href="{{ site.baseurl }}/assets/docs/Appendice3-Competenze-specialistiche-ICT.pdf"
          class="btn btn-icon btn-primary"
          download
        >
          Competenze specialistiche ICT
          <svg class="icon icon-sm icon-white ml-2">
            <use
              xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"
            ></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-wrapper card-space">
        <a
          href="{{ site.baseurl }}/assets/docs/Appendice4-Cittadini.pdf"
          class="btn btn-icon btn-primary"
          download
        >
          Cittadini
          <svg class="icon icon-sm icon-white ml-2">
            <use
              xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"
            ></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-12">
    <h5 class="my-3" id="documenti">
      Rapporto di monitoraggio del Piano Operativo
    </h5>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card-wrapper card-space">
      <a
        href="{{ site.baseurl }}/assets/docs/Piano-Operativo-Primo-rapporto-di-monitoraggio-Dicembre2021.pdf"
        class="btn btn-icon btn-primary"
        download
      >
        Primo rapporto - Dicembre 2021
        <svg class="icon icon-sm icon-white ml-2">
          <use
            xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"
          ></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card-wrapper card-space">
      <a
        href="{{ site.baseurl }}/assets/docs/Executive-Summary-Primo-rapporto-di-monitoraggio-Dicembre 2021.pdf"
        class="btn btn-icon btn-primary"
        download
      >
        Sintesi del primo rapporto
        <svg class="icon icon-sm icon-white ml-2">
          <use
            xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"
          ></use>
        </svg>
      </a>
    </div>
  </div>
</div>
