{% assign posts = site.categories.documento | where: "lang", page.lang %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="my-5" id="documenti">Documenti</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="card-wrapper card-space">
          <a href="{{ site.baseurl }}/assets/docs/DTD-1277-A-ALL1.pdf" class="btn btn-icon btn-primary" download>
            Scarica il decreto della Strategia Nazionale
            <svg class="icon icon-sm icon-white ml-2">
              <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
