<div class="it-hero-wrapper it-hero-small-size it-primary it-overlay">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="{{ site.baseurl }}/assets/images/background/shapelined-_JBKdviweXI-unsplash.jpg" title="img title" alt="imagealt"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4 d-none d-md-block pt-5">
        <img class="mw-100" src="{{ site.baseurl }}/assets/images/repubblica-digitale-logo-blue-transp-squared-2x.png" alt="{{ site.name }} logo">
      </div>
      <div class="col-12 col-md-8">
        <div class="it-hero-text-wrapper pt-5">
          <p class="d-block ">Repubblica Digitale è l’iniziativa strategica nazionale promossa dal Dipartimento per la trasformazione digitale della Presidenza del Consiglio dei ministri con l’obiettivo di combattere il divario digitale di carattere culturale presente nella popolazione italiana, per sostenere la massima inclusione digitale e favorire l’educazione sulle tecnologie del futuro, accompagnando il processo di trasformazione digitale del Paese.</p>
          <div class="it-btn-container"><a class="btn btn-lg btn-white" href="{% link it/il-programma.md %}">Approfondisci</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

