<div class="it-hero-wrapper it-hero-small-size it-primary it-overlay">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper">
        <img
          src="{{ site.baseurl }}/assets/images/background/shapelined-_JBKdviweXI-unsplash.jpg"
          title="img title"
          alt="imagealt"
        />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4 d-none d-md-block pt-5">
        <img
          class="mw-100"
          src="{{ site.baseurl }}/assets/images/repubblica-digitale-logo-blue-transp-squared-2x-noText.png"
          alt="{{ site.name }} logo"
        />
      </div>
      <div class="col-12 col-md-8">
        <div class="it-hero-text-wrapper pt-5">
          <p class="d-block">
            Repubblica Digitale è l’iniziativa strategica nazionale coordinata
            dal Dipartimento per la trasformazione digitale della Presidenza del
            Consiglio dei Ministri, che ha l’obiettivo di ridurre il divario
            digitale e promuovere l’educazione sulle tecnologie del futuro,
            supportando il processo di sviluppo del Paese.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
