<script>
function showDetails(id){
  console.log('Show detail of', id);
}

</script>
<div class="iniziative-mid container mt-5">
  <div class="row">
    <div class="col col-lg-10 small">
      <h3 class="mt-5 mb-5" id="iniziative-mid">Altre iniziative in collaborazione con il MITD</h3>
    </div>
    <div class="col-12">
      <div class="row">

        <div class="col-12 col-md-6 col-lg-6">
          <div class="card-wrapper card-space">
            <div class="card card-iniziative my-2 no-after shadow rounded">
            <div class="card-body">
                <div class="row">
                  <div class="col-8 d-flex">
                    <p class="text-serif align-self-center">Digital Skills and Jobs Platform</p>
                  </div>
                  <div class="col-4 text-right">
                    <img src="{{ site.baseurl }}/assets/images/eu_flag.jpeg" alt="Logo Comunità Europea" class="mb-2 mw-100"/>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal01">
                    Leggi di più
                  </button>
                </div>
                <!-- Modal -->
                <div class="modal it-dialog-scrollable fade" tabindex="-1" role="dialog" id="Modal01">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Digital Skills and Jobs Platform</h5>
                            <div class="col-4 text-right">
                              <img src="{{{ site.baseurl }}/assets/images/eu_flag.jpeg" alt="Logo Comunità Europea" class="mb-2 mw-100"/>
                            </div>
                        </div>
                        <div class="modal-body">
                            <p>La <b>Digital Skills and Jobs Platform</b>, iniziativa dell’Unione Europea, è un punto di accesso unico per la raccolta di informazioni e risorse di alta qualità sulle competenze digitali e le professioni in ambito ICT in tutta Europa. La piattaforma offre uno spazio collaborativo attivo per le discussioni e la condivisione di iniziative sulle competenze digitali, con l’obiettivo di favorire sinergie e scambi di esperienze di successo. Consente inoltre di essere aggiornati sulle iniziative, i progetti e i corsi di formazione sulle competenze digitali, fornendo un orientamento sulle opportunità di lavoro.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="https://digital-skills-jobs.europa.eu/en" target="_blank">
                              <span class="text">Per scoprirne di più, visita il sito</span>
                              <svg class="icon">
                                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                              </svg>
                            </a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
          <div class="card-wrapper card-space">
            <div class="card card-iniziative my-2 no-after shadow rounded">
              <div class="card-body">
                  <div class="row">
                    <div class="col-8 d-flex">
                      <p class="text-serif align-self-center">mydigiskill</p>
                    </div>
                    <div class="col-4 text-right">
                      <img src="{{ site.baseurl }}/assets/images/MDS_Logo_Logo.png" alt="Logo Comunità Europea" class="mb-2 mw-100"/>
                    </div>
                  </div>
                  <div class="text-right mt-4">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal02">
                      Leggi di più
                    </button>
                  </div>
                  <!-- Modal -->
                  <div class="modal it-dialog-scrollable fade" tabindex="-1" role="dialog" id="Modal02">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title">mydigiskill</h5>
                              <div class="col-4 text-right">
                                <img src="{{{ site.baseurl }}/assets/images/MDS_Logo_Logo.png" alt="Logo Comunità Europea" class="mb-2 mw-100"/>
                              </div>
                          </div>
                          <div class="modal-body">
                              <p><b>MyDigiSkills</b> è uno strumento che consente di valutare il proprio livello di competenze digitali sulla base delle conoscenze, abilità e attitudini possedute nelle cinque aree del Quadro europeo delle competenze digitali per la cittadinanza, noto come DigComp.</p>
                          </div>
                          <div class="modal-footer">
                              <a href="https://mydigiskills.eu/it/index.php" target="_blank">
                                <span class="text">Per scoprirne di più, visita il sito</span>
                                <svg class="icon">
                                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                                </svg>
                              </a>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-12 col-md-6 col-lg-6">
          <div class="card-wrapper card-space">
            <div class="card card-iniziative my-2 no-after shadow rounded">
            <div class="card-body">
                <div class="row">
                  <div class="col-8 d-flex">
                    <p class="text-serif align-self-center">Digital skillup</p>
                  </div>
                  <div class="col-4 text-right">
                    <img src="{{ site.baseurl }}/assets/images/Digital Skillup_logo.svg" alt="Logo Digital skillup" class="mb-2 mw-100"/>
                  </div>
                </div>
                <div class="text-right mt-4">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal03">
                    Leggi di più
                  </button>
                </div>
                <!-- Modal -->
                <div class="modal it-dialog-scrollable fade" tabindex="-1" role="dialog" id="Modal03">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Digital skillup</h5>
                            <div class="col-4 text-right">
                              <img src="{{{ site.baseurl }}/assets/images/Digital Skillup_logo.svg" alt="Logo Digital skillup" class="mb-2 mw-100"/>
                            </div>
                        </div>
                        <div class="modal-body">
                            <p>I corsi di <b>Digital SkillUp</b>, un’iniziativa finanziata dall’UE, forniscono le conoscenze di base relative alle tecnologie emergenti a tutta la cittadinanza e alle piccole e medie imprese, mettendo a disposizione di tutti contenuti formativi su temi come l’Internet of things, la robotica, la realtà aumentata/virtuale e la cybersecurity. I corsi si adattano ai ritmi di ognuno, sono compatibili con il telefono cellulare, e sono disponibili in 10 lingue diverse. Un certificato di completamento è disponibile per coloro per passano il corso.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="https://www.digitalskillup.eu/it/" target="_blank">
                              <span class="text">Per scoprirne di più, visita il sito</span>
                              <svg class="icon">
                                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                              </svg>
                            </a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
          <div class="card-wrapper card-space">
            <div class="card card-iniziative my-2 no-after shadow rounded">
              <div class="card-body">
                  <div class="row">
                    <div class="col-8 d-flex">
                      <p class="text-serif align-self-center">Elements of AI</p>
                    </div>
                    <div class="col-4 text-right">
                      <img src="{{ site.baseurl }}/assets/images/EAI_logo.png" alt="Logo elements of ai" class="mb-2 mw-100"/>
                    </div>
                  </div>
                  <div class="text-right mt-4">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal04">
                      Leggi di più
                    </button>
                  </div>
                  <!-- Modal -->
                  <div class="modal it-dialog-scrollable fade" tabindex="-1" role="dialog" id="Modal04">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title">Elements of AI</h5>
                              <div class="col-4 text-right">
                                <img src="{{{ site.baseurl }}/assets/images/EAI_logo.png" alt="Logo elements of ai" class="mb-2 mw-100"/>
                              </div>
                          </div>
                          <div class="modal-body">
                              <p><b>Elements of AI</b> è un corso online gratuito, creato da Reaktor e dall&#39;Università di Helsinki, rivolto a tutti coloro che sono interessati a comprendere cosa sia l&#39;Intelligenza Artificiale. Il corso spiega in termini semplici per cosa possa (e non possa) essere utilizzata l’intelligenza artificiale e come questa possa influenzare le nostre vite. Non sono necessarie conoscenze matematiche o di programmazione avanzate. Il corso combina teoria ed esercizi pratici e può essere seguito ai ritmi e negli orari preferiti.</p>
                          </div>
                          <div class="modal-footer">
                              <a href="https://www.elementsofai.it/" target="_blank">
                                <span class="text">Per scoprirne di più, visita il sito</span>
                                <svg class="icon">
                                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                                </svg>
                              </a>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
