{% assign partners = site.data.partner.partner_manifesto | sort:"name" %}

<div class="container mt-5">
    <div class="row">
        <div class="col col-lg-10 small mb-5 ">
            <h3 class="" id="partner-aderenti">I partner</h3>
            <h6>Tutte le organizzazioni che supportano i gruppi di lavoro del Comitato Guida</h6>
        </div>
        <div class="col-12">
            <div class="row">
                <p>
                  Ai lavori del Comitato Guida hanno fin qui contribuito Istat e gli osservatori che operano su quest’ambito, come Osservatorio Competenze Digitali (costituito da AICA, Anitec-Assinform, Assintel, Assinter Italia), Osservatorio Università-Imprese (iniziativa della Fondazione CRUI), Osservatorio Agenda Digitale e Osservatorio Smart Working del Politecnico di Milano, CINI - Consorzio Interuniversitario Nazionale per l'Informatica, GII - Gruppo di Ingegneria Informatica, GRIN- Gruppo di Informatica.
                </p>
                <p>
                    La lista delle organizzazioni che contribuiscono ai lavori del Comitato Guida verrà di volta in volta aggiornata a fronte di nuove collaborazioni.
                </p>
              {% comment %}
                {%- for partner in partners -%}
                <div class="col-4 col-md-2">
                    <a title="{{ partner.name }}" href="{{ partner.link }}" target="_blank" rel="noopener noreferrer"><img class="mw-100" src="{{ site.baseurl }}/assets/images/loghi/{{ partner.logo }}" alt="{{ partner.name }}"></a>
                </div>
                {%- endfor -%}
              {% endcomment %}
            </div>
        </div>
    </div>
</div>
