---
layout: default
---


<div class="container my-2">
  <div class="row">
    <div class="col-12">
      <div class="mx-md-3">
        {%- include breadcrumbs.html -%}
      </div>
    </div>
  </div>
</div>


<article class="container my-5">
  <div class="row">
    <div class="col-12 col-lg-8">
      <!--start card-->
      <div class="card-wrapper card-space">
        <div class="card card-bg card-big border-bottom-card">
          <div class="flag-icon"></div>
          <div class="etichetta">
            <svg class="icon">
              <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-calendar"></use>
            </svg>
            <span>{% include date.html date=page.date %}</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ page.title }}</h5>
            <div class="card-text">
              {%- if page.english_version != nil -%}
              <div class="w-100 text-center my-4">
                <a href="{{ site.baseurl }}/{{page.english_version}}">
                  Read this post in English
                  <svg class="icon icon-sm icon-primary">
                    <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                  </svg>
                </a>
              </div>
              {%- endif -%}

              {%- if page.asset contains "youtube-nocookie.com" or page.asset contains "youtube.com" -%}
              <div class="responsive-embed">{{ page.asset }}</div>
              {%- else -%}
              {{ page.asset }}
              {%- endif -%}
              <div class="my-3">
                {{ content }}
                {%- if page.orig_url -%}
                {%- if page.orig_url.first -%}
                {% for extSiteData in page.orig_url %}
                {%- if extSiteData.title -%}
                <p>{{ extSiteData.title }}</p>
                {%- else -%}
                {%- if extSiteData.noSpaceOnTop != true -%}
                <a class="read-more position-relative mt-5" href="{{ extSiteData.url }}" target="_blank">
                {%- else -%}
                <a class="read-more position-relative mt-2" href="{{ extSiteData.url }}" target="_blank">
                {%- endif -%}
                  {%- if extSiteData.text -%}
                  <span class="text">{{extSiteData.text}} <i>{{ extSiteData.src }}</i></span>
                  {%- else -%}
                  <span class="text">{{ extSiteData.src }}</span>
                  {%- endif -%}
                  <svg class="icon">
                    <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                  </svg>
                </a>
                {%- endif -%}
                {% endfor %}
                {%- else -%}
                <a class="read-more position-relative mt-5" href="{{ page.orig_url }}" target="_blank">
                  <span class="text">Continua su <i>{{ page.orig_src }}</i></span>
                  <svg class="icon">
                    <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                  </svg>
                </a>
                {%- endif -%}
                {%- endif -%}
              </div>
            </div>
            {%- if page.credits-%}
            <p class="x-small text-right">
              <em>Foto di <a href="{{ page.credits.ownerUrl }}" target="_blank" rel="noopener noreferrer">{{ page.credits.owner }}</a> su <a
                  href="{{ page.credits.imgUrl }}" target="_blank" rel="noopener noreferrer">{{ page.credits.imgSrc }}</a>
              </em>
            </p>
            {%- endif -%}
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
    <div class="col-12 col-lg-4">
      <h4>Altre notizie</h4>
      {% assign localized_posts = site.posts | where: "lang", page.lang %}
      {% for post in localized_posts limit: 3 %}
      {% if post.title != page.title %}
      {% if post.hidden != true %}
      <div class="mb-2">
        {% include card/post.html %}
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
      <a class="btn text-primary" href="{% link it/notizie.md %}">Vedi tutte le Notizie &#8594;</a>
    </div>
  </div>
</article>
